[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
gunicorn = "*"
pystv = ">=0.5"

[dev-packages]
bump2version = "*"
rope = "*"
flake8 = "*"
isort = "*"
black = "*"
pytest = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
